body {
  color: #2c2c2c;
  font-size: 14px;
  line-height: 2rem;
  padding: 0;
  margin: 0;
}

p {
  text-align: justify;
}

a {
  text-decoration: none;
}



.navbar {
  background: linear-gradient(90deg, #022f00, #147700, #06ae00ae);
 }
 .navbar a {
  color: #ffffff;
 }

/* Updates CSS */

.left-div {
  border: 1px solid #b7b7b7;
  border-radius: 8px;
  padding: 15px;
}

/* banner */
.content {
  top: 20px;
  position: relative;
}

/* .content .left-side{
    position: sticky;
    z-index: 1;
    background-color: #102A6E;
    height: fit-content;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    top: 100px;
    left: 0;
    overflow-x: hidden;
} */

.form-check-label {
  margin-left: 10%;
}





/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* right side */

.card .job-type-fulltime {
  border-radius: 25px;
  background-color: green;
  font-weight: lighter;
  color: #fff;
  padding: 2px 20px;
  width: fit-content;
}

.card .job-type-parttime {
  border-radius: 25px;
  background-color: goldenrod;
  font-weight: lighter;
  color: #fff;
  padding: 2px 20px;
  width: fit-content;
}

.card .job-type-internship {
  border-radius: 25px;
  background-color: greenyellow;
  font-weight: lighter;
  color: #fff;
  padding: 2px 20px;
  width: fit-content;
}

.card .job-type-freelance {
  border-radius: 25px;
  background-color: orangered;
  font-weight: lighter;
  color: #fff;
  padding: 2px 20px;
  width: fit-content;
}

/* .card .details span{
    border-radius: 4px;
    border: 1px solid grey;
    font-weight: lighter;
    padding: 0 5px;
    width: fit-content;
} */

.card .skills span {
  border-radius: 4px;
  border: 1px solid #84bdcf;
  font-weight: lighter;
  padding: 0 10px;
  width: fit-content;
}

.btn-request {
  background-color: #022f00;
  color: #fff;
  font-weight: bold;
}

.btn-shortlist {
  background-color: #022f00;
  color: #fff;
  font-weight: bold;
}

.btn-request:hover {
  /* color: #022f00;
    background-color: #fff; */
  border: 1px solid #022f00;
  color: #022f00;
  box-shadow: inset 200px 0 0 0 #fff;
  transition: 0.6s ease-in;
}

.btn-shortlist:hover {
  /* color: #080e41;
    background-color: #fff; */
  border: 1px solid #084109;
  color: #fff;
  box-shadow: inset 200px 0 0 0 #084109;
  transition: 0.6s ease-in;
}

.btn-shortlist:visited {
  background-color: #084109;
  color: #fff;
}



.profile-pic {
  overflow: hidden;
  width: 80%;
  height: auto;
  display: inline-block;
}

.file-upload {
  display: none;
}
.circle {
  border-radius: 100% !important;
  overflow: hidden;
  width: 80%;
  height: auto;
}
img {
  max-width: 100%;
  height: auto;
}

.upload-button {
font-size: 1.2em;
}

.upload-button:hover {
transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
color: #999;
}

.fa-circle-user {
  font-size: 25px;
  color: #ffffff!important;
  cursor: pointer;
}
.dropdown-menu {
  background: linear-gradient(90deg, #022f00, #147700, #06ae00ae);
  color: #ffffff;
}
